<template>
    <el-card v-if="news">
        <div slot="header" class="clearfix">
            <div class="d-inline">
                #{{news.id}} {{news.title.en}}
            </div>
            <el-row class="right">
                <span><i class="el-icon-refresh"></i> {{news.updated_at}}</span>
                <el-button-group>
                    <el-tooltip content="Delete permanently" placement="top">
                        <el-button size="small" circle icon="el-icon-delete-solid" type="danger" @click="delNews()"></el-button>
                    </el-tooltip>
                    <el-tooltip v-if="news.deleted_at" content="Restore" placement="top">
                        <el-button size="small" circle type="success" icon="el-icon-refresh-left" @click="restoreNews()"></el-button>
                    </el-tooltip>
                    <el-tooltip content="Soft delete" v-if="!news.deleted_at" placement="top">
                        <el-button size="small" circle icon="el-icon-delete" type="primary" @click="destroyNews()"/>
                    </el-tooltip>
                    <el-tooltip content="Editor" placement="top">
                        <el-button size="small" circle icon="el-icon-edit" type="primary" @click="$emit('edit')"/>
                    </el-tooltip>
                </el-button-group>
            </el-row>
        </div>
        <div>
            <el-tag effect="dark" size="small" :type="news.status ? 'success' : 'primary'">Status: {{news.status}}</el-tag>
            <el-tag effect="plain" size="small">Slug: <b>{{news.slug}}</b></el-tag>
        </div>
    </el-card>
</template>

<script>
    export default {
        name: 'NewsItemComponent',
        props: {
            item: {
                required: true,
                type: Object
            }
        },
        data () {
            return {
                news: null
            }
        },
        mounted () {
            this.news = { ...this.item }
        },
        methods: {
            delNews () {
                this.$confirm('This will permanently delete the news. Continue?', 'Warning', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {
                    axios.delete(`/admin/news/delete/${this.news.id}`).then(() => {
                        this.completeMessage();
                        this.$emit('deleted')
                    }).catch(() => {
                        this.wrongMessage();
                    })
                }).catch(() => {
                    this.canceledMessage();
                });
            },
            restoreNews () {
                axios.get(`/admin/news/restore/${this.news.id}`).then(() => {
                    this.news.deleted_at = null; // I don't now response but I now what have to change after request
                }).catch(() => {
                    this.wrongMessage();
                })
            },
            destroyNews () {
                this.$confirm('This will delete the news. Continue?', 'Warning', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {
                    axios.delete(`/admin/news/destroy/${this.news.id}`).then(res => {
                        this.news.deleted_at = res.data.data.deleted_at;
                        this.news.updated_at = res.data.data.updated_at;
                        this.completeMessage();
                    }).catch(() => {
                        this.wrongMessage();
                    })
                }).catch((e) => {
                    console.log('destroy_error: ', e);
                    this.canceledMessage()
                })
            },
            wrongMessage () {
                this.$message({
                    type: 'info',
                    message: 'Something was wrong'
                });
            },
            completeMessage () {
                this.$message({
                    type: 'info',
                    message: 'Delete completed'
                });
            },
            canceledMessage() {
                this.$message({
                    type: 'info',
                    message: 'Delete canceled'
                });
            }
        },
        watch: {
            item: function (newValue) {
                console.log(newValue)
                this.news = {...newValue}
            }
        }
    }
</script>

<style scoped>
    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }
    .clearfix:after {
        clear: both
    }

    .right {
        float: right;
    }
    .d-inline {
        display: inline;
    }

</style>
