<template>
    <div>
        List Pages component <el-button size="small" @click="startStorePage()" type="primary">Create Page</el-button>
        <el-button size="small" :loading="loading" @click="getPagesRequest()" > Update List </el-button>
        <PageItemComponent v-for="(item, index) in pages"
                           :key="index" :item="item"
                           @edit="startStorePage(item,index)"
                           @deleted="pageDeleted(index)"
        />
        <PageStoreComponent :item="storePage"
                            :open="storeDialog"
                            :languages="languages"
                            :path="'pages'"
                            @saved="pageSaved"
                            @close="storeDialog = false"
        />
    </div>
</template>

<script>
    import PageItemComponent from "./parts/PageItemComponent";
    import PageStoreComponent from "./parts/PageStoreComponent";
    import LanguagesMixin from "../../mixins/LanguagesMixin";

    export default {
        name: 'ListPagesComponent',
        mixins: [LanguagesMixin],
        components: { PageStoreComponent, PageItemComponent },
        data() {
            return {
                pages: [],
                loading: false,

                // Data for store dialog
                storePage: null,
                storeIndex: null,
                storeDialog: false,
            }
        },
        methods: {
            getPagesRequest() {
                this.loading = true;
                axios.get('/admin/pages/getAll').then( res => {
                    this.pages = res.data.data
                }).then(() => { this.loading = false; })
            },
            pageDeleted (index) {
                this.pages.splice(index, 1)
            },
            startStorePage(item = null, index = null) {
                this.storePage = item;
                this.storeDialog = true;
                this.storeIndex = index;
            },
            pageSaved () {
                this.getPagesRequest();
                this.storeDialog = false
                this.storePage = null
            }
        },

        mounted () {
            this.getPagesRequest();
            this.getLanguagesRequest();
        }
    }
</script>

<style scoped>

</style>
