<template>
    <div>
        List news component
        <el-button size="small" @click="startStoreNews()" type="primary"> Create News </el-button>

        <el-button size="small" :loading="loading" @click="getNewsListRequest()" > Update List </el-button>

        <NewsItemComponent v-for="(item, index) in news_list" :key="index" :item="item" @edit="startStoreNews(item, index)" @deleted="newsDeleted(index)"/>
        <PageStoreComponent :item="storeNews" :path="'news'" :open="storeDialog" :languages="languages" @saved="newsSaved" @close="storeDialog = false"/>
    </div>
</template>

<script>
    import NewsItemComponent from "./parts/NewsItemComponent";
    import PageStoreComponent from "../pages/parts/PageStoreComponent";
    import LanguagesMixin from "../../mixins/LanguagesMixin";

    export default {
        name: 'ListNewsComponent',
        mixins: [ LanguagesMixin ],
        components: { PageStoreComponent, NewsItemComponent },
        data() {
            return {
                news_list: [],
                loading: false,

                // Data for store dialog
                storeNews: null,
                storeIndex: null,
                storeDialog: false
            }
        },
        methods: {
            getNewsListRequest() {
                this.loading = true;
                axios.get('/admin/news/getAll').then( res => {
                    this.news_list = res.data.data
                }).then(() => { this.loading = false; })
            },
            newsDeleted (index) {
                this.news_list.splice(index, 1)
            },
            startStoreNews(item = null, index = null) {
                this.storeNews = item;
                this.storeDialog = true;
                this.storeIndex = index;
            },
            newsSaved () {
                this.getNewsListRequest();
                this.storeDialog = false;
                this.storeNews = null;
            }
        },

        mounted () {
            this.getNewsListRequest();
            this.getLanguagesRequest();
        }
    }
</script>

<style scoped>

</style>
