<template>
    <div>
        <editor-menu-bar :editor="editor" v-slot="{ commands, isActive }">
            <el-button-group class="menubar">

                  <el-button size="mini" circle
                    class="menubar__button"
                    :class="{ 'is-active': isActive.bold() }"
                    @click="commands.bold"
                >
                    bold
                </el-button>

                  <el-button size="mini" circle
                    class="menubar__button"
                    :class="{ 'is-active': isActive.italic() }"
                    @click="commands.italic"
                >
                    italic
                </el-button>

                  <el-button size="mini" circle
                    class="menubar__button"
                    :class="{ 'is-active': isActive.strike() }"
                    @click="commands.strike"
                >
                    strike
                </el-button>

                  <el-button size="mini" circle
                    class="menubar__button"
                    :class="{ 'is-active': isActive.underline() }"
                    @click="commands.underline"
                >
                    underline
                </el-button>

                  <el-button size="mini" circle
                    class="menubar__button"
                    :class="{ 'is-active': isActive.code() }"
                    @click="commands.code"
                >
                    code
                </el-button>

                  <el-button size="mini" circle
                    class="menubar__button"
                    :class="{ 'is-active': isActive.paragraph() }"
                    @click="commands.paragraph"
                >
                    paragraph
                </el-button>

                  <el-button size="mini" circle
                    class="menubar__button"
                    :class="{ 'is-active': isActive.heading({ level: 1 }) }"
                    @click="commands.heading({ level: 1 })"
                >
                    H1
                </el-button>

                  <el-button size="mini" circle
                    class="menubar__button"
                    :class="{ 'is-active': isActive.heading({ level: 2 }) }"
                    @click="commands.heading({ level: 2 })"
                >
                    H2
                </el-button>

                  <el-button size="mini" circle
                    class="menubar__button"
                    :class="{ 'is-active': isActive.heading({ level: 3 }) }"
                    @click="commands.heading({ level: 3 })"
                >
                    H3
                </el-button>

                  <el-button size="mini" circle
                    class="menubar__button"
                    :class="{ 'is-active': isActive.bullet_list() }"
                    @click="commands.bullet_list"
                >
                    ul
                </el-button>

                  <el-button size="mini" circle
                    class="menubar__button"
                    :class="{ 'is-active': isActive.ordered_list() }"
                    @click="commands.ordered_list"
                >
                    ol
                </el-button>

                  <el-button size="mini" circle
                    class="menubar__button"
                    :class="{ 'is-active': isActive.blockquote() }"
                    @click="commands.blockquote"
                >
                    quote
                </el-button>

                  <el-button size="mini" circle
                    class="menubar__button"
                    :class="{ 'is-active': isActive.code_block() }"
                    @click="commands.code_block"
                >
                    code
                </el-button>

                  <el-button size="mini" circle
                    class="menubar__button"
                    @click="commands.horizontal_rule"
                >
                    hr
                </el-button>

                  <el-button size="mini" circle
                    class="menubar__button"
                    @click="commands.undo"
                >
                    undo
                </el-button>

                  <el-button size="mini" circle
                    class="menubar__button"
                    @click="commands.redo"
                >
                    redo
                </el-button>

            </el-button-group>
        </editor-menu-bar>

        <editor-content class="editor__content" :editor="editor" />
    </div>
</template>

<script>
    import { Editor, EditorContent, EditorMenuBar } from 'tiptap'
    import {
        Blockquote,
        CodeBlock,
        HardBreak,
        Heading,
        HorizontalRule,
        OrderedList,
        BulletList,
        ListItem,
        TodoItem,
        TodoList,
        Bold,
        Code,
        Italic,
        Link,
        Strike,
        Underline,
        History,
    } from 'tiptap-extensions'

    export default {
        name: 'ContentEditorComponent',
        components: {
            EditorContent,
            EditorMenuBar,
        },
        props: ['text'],
        data() {
            return {
                editor: {},
            }
        },
        created() {
            this.editor = new Editor({
                extensions: [
                    new Blockquote(),
                    new BulletList(),
                    new CodeBlock(),
                    new HardBreak(),
                    new Heading({ levels: [1, 2, 3] }),
                    new HorizontalRule(),
                    new ListItem(),
                    new OrderedList(),
                    new TodoItem(),
                    new TodoList(),
                    new Link(),
                    new Bold(),
                    new Code(),
                    new Italic(),
                    new Strike(),
                    new Underline(),
                    new History(),
                ],
                content: this.text,
                onUpdate: ({ getHTML }) => this.$emit('input', getHTML()),
            });
        },
        beforeDestroy() {
            this.editor.destroy()
        },

    }
</script>

<style lang="scss" scoped>
 .editor__content{
     border: 1px solid #DCDFE6;
     border-radius: 3px;
     &:hover{
         border-color: #BBB;
     }
 }
</style>
<style>
    .ProseMirror{
        min-height: 180px;
    }
</style>
