<template>
    <el-dialog
        :title="page.title.en || 'Enter title' "
        :visible.sync="dialogVisible"
        width="80%"
        :before-close="handleClose">
        <el-form ref="form" @submit.native.prevent label-position="left" label-width="90px" :model="page">
            <el-row>
                <el-col :span="14" class="mr">
                    <el-form-item label="Slug" :rules="rules.slug" prop="slug">
                        <div>
                            <el-input v-model="page.slug">
                                <el-button slot="append" @click="generateSlug()">Generate Slug</el-button>
                            </el-input>
                        </div>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="Status" prop="delivery">
                        <el-switch v-model="page.status"/>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-tabs type="border-card" v-model="selectedLang">
                <el-tab-pane v-for="lang in languages" :name="lang.sign" :label="`${lang.name} (${lang.sign})`"
                             :key="lang.sign">
                    <el-form-item label="Title"
                                  :prop="`title[${lang.sign}]`"
                                  :rules="getTitleRule(lang.sign)">
                        <el-input v-model="page.title[lang.sign]"/>
                    </el-form-item>
                    <el-form-item :rules="getContentRule(lang.sign)"
                                  :prop="`content[${lang.sign}]`"
                                  label="Content">
                        <EditorComponent v-if="dialogVisible"
                                         :text="page.content[lang.sign]"
                                         v-model="page.content[lang.sign]"/>
                    </el-form-item>
                </el-tab-pane>
            </el-tabs>
    </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button size="small" @click="close()">Cancel</el-button>
            <el-button size="small" type="primary" @click="store()" >Save</el-button>
        </span>
    </el-dialog>
</template>

<script>
    import EditorComponent from "../../ContentEditorComponent";

    const defaultData = {
        id: null,
        title: { en: null },
        content: { en: null },
        slug: null,
        status: false,
        author_id: 1
    }

    export default {
        name: 'PageStoreComponent',
        components: { EditorComponent },
        props: {
            open:Boolean,
            path: {
                type: String,
                required: true,
            },
            item: {
                type:Object,
                default: () => {
                    return defaultData
                }
            },
            languages: {
                default: () => {
                    return [
                        { sign: 'en', name: 'English' },
                    ]
                }
            }
        },
        data () {
            return {
                page: defaultData,
                dialogVisible: false,
                selectedLang: 'en',
                rules: {
                    requiredRule: { required: true, message: 'Field required', trigger: 'blur' },
                    slug: [{ required: true, message: 'Slug required' }]
                }
            }
        },
        methods: {
            handleClose() {
                this.$confirm('Are you sure to stop edit this element?', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Return'
                })
                    .then(_ => {
                        this.close();
                    });
            },
            store () {
                this.$refs['form'].validate((valid) => {
                    if (valid) {
                        this.page.author_id = 1;
                        axios.post(this.page.id
                            ? `/admin/${this.path}/update/${this.page.id}`
                            : `/admin/${this.path}/store`, this.page).then(() => {
                            this.completeMessage();
                            this.close(true);
                        }).catch(e => {
                            if (e.response.data && e.response.data.errors) {
                                // TODO: change this shit
                                // this.$refs['form'].setErrors(e.response.data.errors);
                            }
                            console.log(e)
                            this.wrongMessage()
                        });
                    } else {
                        return false;
                    }
                });
            },
            string_to_slug (str) {
                str = str.replace(/^\s+|\s+$/g, ''); // trim
                str = str.toLowerCase();

                // remove accents, swap ñ for n, etc
                let from = "àáäâèéëêìíïîòóöôùúüûñç·/_,:;";
                let to   = "aaaaeeeeiiiioooouuuunc------";
                for (let i=0, l=from.length ; i<l ; i++) {
                    str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
                }

                str = str.replace(/[^a-z0-9 -]/g, '') // remove invalid chars
                    .replace(/\s+/g, '-') // collapse whitespace and replace by -
                    .replace(/-+/g, '-'); // collapse dashes

                return str;
            },

            close (saved = false) {
                this.$refs.form.resetFields();
                this.$emit(saved ? 'saved': 'close')
            },

            wrongMessage () {
                this.$message({
                    type: 'info',
                    message: 'Something was wrong'
                });
            },
            completeMessage () {
                this.$message({
                    type: 'info',
                    message: `Store page ${this.page.title.en} completed`
                });
            },

            generateSlug () {
                this.page.slug = this.string_to_slug(this.page.title.en)
            },

            getContentRule (lang) {
                let rules = []
                if (this.page.content[lang] && this.page.content[lang] !== '<p></p>') {
                    rules.push({ min: 20, message: 'Length should be from 20 characters', trigger: 'blur' })
                }
                if (lang === 'en'){
                    rules.push(this.rules.requiredRule)
                } else {
                    if ( this.page.title[lang]) {
                        rules.push(this.rules.requiredRule);
                    }
                }
                return rules;
            },
            getTitleRule (lang) {
                let rules = [ { min: 3, max: 255, message: 'Length should be from 3 to 255 characters', trigger: 'blur' } ]
                if (lang === 'en'){
                    rules.push(this.rules.requiredRule)
                } else {
                    if ( this.page.content[lang] &&  this.page.content[lang] !== '<p></p>') {
                        rules.push(this.rules.requiredRule)
                    }
                }
                return rules;
            }
        },
        mounted () {
            this.dialogVisible = this.open;
            this.page = this.item ? { ...this.item } : defaultData
        },
        watch: {
            item (newVal) {
                if ( !newVal ) {
                    this.page = defaultData
                }
                else {
                    this.page = { ...newVal }
                }
                this.selectedLang = 'en'
            },
            open (newVal) {
                this.dialogVisible = newVal
            }
        }
    }
</script>

<style scoped>
    .mr {
        margin-right: 10px;
    }
</style>
